<p id="notice"><%= notice %></p>
<div class="white-text">

<h1><%= @skill.name %></h1>
<div class="description">
  <%= @skill.description %>
</div>
</div>

<br>
<%= link_to 'Projects Under Skill', skill_projects_path(@skill,@project) %>
