<div class="container">
<p id="notice"><%= notice %></p>
<h1>Welcome to my Blog :)</h1>

<% @posts.each do |post| %>
<div class="well post-well">
<h4><%= link_to post.title, post %></h4>
<%= truncate(post.body, length: 350)  %>
</div>
<% end %>
</div>
