@keyframes rotateImgZ {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotateImgY {
  0% {
    transform: rotateY(0deg);
  }

  99% {
    opacity: 1;
  }

  100% {
    transform: rotateY(90deg);
    opacity: 0;
  }
}

@keyframes rotateImgYBack {
  0% {
    transform: rotateY(90deg);
  }

  50% {
    transform: rotateY(90deg)
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes rotateImgYDesc {
  0% {
    transform: rotateY(-90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes rotateImgYDescBack {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-90deg);
  }
}

@keyframes mottoArrowHorizontally {
  0% {
    transform: translateX(-30%);
  }

  50% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(-30%);
  }
}

@keyframes mottoArrowVertically {
  0% {
    transform: translateY(-30%) rotateZ(90deg);
  }

  50% {
    transform: translateY(30%) rotateZ(90deg);
  }

  100% {
    transform: translateY(-30%) rotateZ(90deg);
  }
}

/******** BODY ********/

* {
  font-family: Lato, Helvetica, sans-serif;
}

.bg-primary {
  background-color: #D3A180;
  color: #EFE7D1;
  transition: 0.5s;
}

a.bg-primary:focus, a.bg-primary:hover {
  text-decoration: none;
  background-color: #E0CBAF;
  color: #EFE7D1;
  transition: 0.5s;
}

.bg-secondary {
  background-color: #5E5B68;
  color: #EFE7D1;
  transition: 0.5s;
}

a.bg-secondary:focus, a.bg-secondary:hover {
  text-decoration: none;
  background-color: #777383;
  color: #EFE7D1;
  transition: 0.5s;
}

section {
  overflow-x: hidden;
  position: relative;
  padding: 100px 50px;
}

@media (max-width: 768px) {
  section {
    padding: 50px 0;
  }
}

hr {
  max-width: 50px;
  border-width: 3px;
  margin: 30px auto;
}

a.button-type, p#technology-name-panel {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 25px 50px;
  border-radius: 30px;
}

@media (max-width: 768px) {
  a.button-type {
    font-size: 14px;
    padding: 15px 30px;
  }
}

.section-heading {
  text-transform: uppercase;
  font-size: 30px;
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (max-width: 320px) {
  .section-heading {
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .section-heading {
    font-size: 40px;
  }
}

@media (min-width: 1279px) {
  .section-heading {
    font-size: 50px;
  }
}

/******** NAVIGATION ********/

nav {
  background-color: #5E5B68 !important;
  z-index: 1000;
}

.navbar-fixed-top {
  top: -1px;
}

#menu-nav {
  border-top: none;
  text-align: center;
}

.navbar-nav {
  margin: 0 -15px;
}

#menu-nav a.page-scroll {
  color: #EFE7D1;
  font-family: Lato;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.8s;
}

#menu-nav a.page-scroll:hover {
  background-color: #EFE7D1;
  color: #5E5B68;
  transition: 0.8s;
}

.navbar-header button {
  border: 1px solid #EFE7D1;
  margin-bottom: 7px;
}

.navbar-header button:hover, .navbar-header button:focus {
  background-color: #EFE7D1 !important;
}

span.glyphicon-menu-hamburger {
  width: 28px;
  font-size: 20px;
  color: #EFE7D1;
}

.navbar-header button:hover span.glyphicon-menu-hamburger, .navbar-header button:focus span.glyphicon-menu-hamburger {
  color: #5E5B68;
}

.navbar-default {
    border-color: #EFE7D1;
}

.navbar-default .navbar-toggle {
    border-color: #EFE7D1;
}

.navbar-header a.navbar-brand {
  padding: 0;
  font-family: 'Kaushan Script', cursive;;
  font-size: 50px;
  color: #EFE7D1;
  line-height: 55px;
  height: 60px;
  transition: 0.8s;
}

.navbar-header a.navbar-brand:hover {
  color: #EFE7D1;
}

@media (min-width: 878px) {
  nav {
    background-color: transparent !important;
  }

  .navbar {
    border: none;
  }

  .navbar-nav {
    margin: 20px 20px 0 0;
  }

  .navbar-header a.navbar-brand {
    padding: 20px 0 0 20px;
    font-size: 70px;
  }

  #menu-nav a.page-scroll {
    font-size: 20px;
    opacity: 0.7;
  }

  #menu-nav a.page-scroll:hover {
    opacity: 1;
    background-color: transparent;
    color: #EFE7D1;
  }
}

/******** HEADER ********/

header {
  min-height: 100vh;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url('https://www.dropbox.com/s/vfo3zh5eg99px9l/bg-image-home.jpg?raw=1');
  background-color: #333;
  color: #EFE7D1;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .8);
}

header .header-content {
  padding: 100px 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 50px;
}

header, header .header-content {
  width: 100%;
  text-align: center;
}

.header-content-inner h1 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 0;
  margi-bottom: 0;
}

.header-content-inner p {
  font-size: 16px;
  margin-bottom: 80px;
}

.header-content-inner hr {
  border-color: #E0CBAF;
}

@media screen and (min-width: 768px) {
  header .header-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 50px;
  }

  .header-content-inner h1 {
    text-transform: uppercase;
    font-size: 50px;
  }

  .header-content-inner p {
    font-size: 24px;
  }
}

/********* ABOUT ********/

#about {
  height: 100vh;
  text-align: center;
}

#about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#about img {
  max-width: 250px;
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 3px solid #EFE7D1;
}

#about hr {
  border-color: #EFE7D1;
}

#about p {
  text-transform: none;
  font-size: 16px;
  margin-bottom: 30px;
}

#about span#name {
  font-weight: 900;
  color: #5E5B68;
}

@media (max-width: 768px) {
  #aboutHeading {
    margin-top: 30px;
  }
}

@media (max-width: 380px) {
  #aboutHeading {
    margin-top: 10px;
    font-size: 24px;
  }

  #about hr {
    margin: 20px auto;
  }
}

@media (min-width: 769px) {
  #about p {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

@media (min-width: 992px) {
  #about img {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 1279px) {
  #about p {
    font-size: 24px;
    margin-bottom: 80px;
  }
}

/******** SKILLS ********/

#skills-stack {
  height: auto;
}

#skills-stack hr {
  border-color: #EFE7D1;
}

#skills-stack li {
  position: relative;
}

#skills-stack img {
  max-width: 200px;
  height: auto;
  transition: 1s;
}

#skills-stack li p {
  display: none;
}

#technology-name-panel {
  display: none;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  transition: all 1s;
}

@media (max-width: 767px) {
  #skills-stack li p {
    position: absolute;
    top: 20px;
    left: 23px;
    display: block;
    width: 160px;
    height: 160px;
    line-height: 160px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: red;
    font-size: 24px;
    font-weight: 900;
    -webkit-transform: translateY(-180px) rotateY(-90deg);
    transform: translateY(-180px) rotateY(-90deg);
  }

  #skills-stack li img#html5-icon + p {
    background-color: #F0652A;
    color: #fff;
  }

  #skills-stack li img#css3-icon + p {
    background-color: #33A9DC;
    color: #fff;
  }

  #skills-stack li img#javascript-icon + p {
    background-color: #F0DB4F;
    color: #323330;
  }

  #skills-stack li img#jquery-icon + p {
    background-color: #0769AD;
    color: #78CFF5;
  }

  #skills-stack li img#github-icon + p {
    background-color: #282828;
    color: #fff;
  }

  #skills-stack li img#nodejs-icon + p {
    background-color: #46483E;
    color: #81CF08;
  }

  #skills-stack li img {
    -webkit-animation: rotateImgYBack 1.4s ease-out forwards;
    animation: rotateImgYBack 1.4s ease-out forwards;
  }

  #skills-stack li p {
    -webkit-animation: rotateImgYDescBack 0.7s ease-in forwards;
    animation: rotateImgYDescBack 0.7s ease-in forwards;
  }

  #skills-stack li:hover img {
    -webkit-animation: rotateImgY 0.7s ease-in forwards;
    animation: rotateImgY 0.7s ease-in forwards;
  }

  #skills-stack li:hover p {
    -webkit-animation: rotateImgYDesc 0.7s ease-out 0.7s forwards;
    animation: rotateImgYDesc 0.7s ease-out 0.7s forwards;
  }
}

@media (min-width: 768px) {
  #technology-name-panel {
    display: block;
    margin-top: 30px;
  }

  #skills-stack li img:hover {
    -webkit-animation: rotateImgZ 1s;
    animation: rotateImgZ 1s;
  }
}

@media (min-width: 436px) {
  #skills-stack {
    height: 100vh;
  }

  #skills-stack .container-fluid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

@media (max-height: 700px) and (min-width: 1024px) {
  #skills-stack img {
    max-width: 150px;
  }
}

/********* PORTFOLIO ********/

#portfolio {
  overflow: hidden;
  padding: 100px 0;
}

#portfolio hr {
  border-color: #EFE7D1;
}

.slick-prev {
  left: 45px;
  z-index: 100;
}

.slick-next {
  right: 45px;
}

.slick-prev, .slick-next {
  width: 30px;
  height: 30px;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
}

.slick-center a {
  background-color: #5E5B68;
  color: #EFE7D1;
  display: block;
  height: 250px;
  font-size: 24px;
  text-decoration: none;
  font-weight: 900;
  padding: 2%;
  margin: 10px;
  opacity: 0.8;
  transition: all 1s;
  outline: none;
}

.slick-center div {
  height: 100%;
}

.slick-center div p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.slick-center a:hover {
  background-color: #777383;
}

.slick-center .slick-center a {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  opacity: 1;
}

/******** OFFER ********/

#offer hr {
  border-color: #EFE7D1;
}

#offer .offer-container {
  min-height: 428px;
  height: auto;
  padding: 20px;
}

#offer .offer-container .offer-img {
  max-width: 200px;
  height: auto;
}

#offer .offer-container h2 {
  margin: 25px 0 30px;
}

#offer .offer-container p {
  margin: 0;
  font-size: 18px;
}

#motto-container {
  padding: 20px 20px 0;
}

#motto-container .motto-inner-container {
  height: auto;
  min-height: 128px;
  padding: 20px 0;
}

#motto-container .motto-inner-container:nth-child(2) {
  padding: 20px 20px 20px 0;
}

#motto-container .motto-inner-container p.motto-desc {
  line-height: 118px;
  font-size: 30px;
  text-align: center;
}

#motto-container .motto-inner-container img {
  -webkit-animation: mottoArrowHorizontally 2s infinite;
  animation: mottoArrowHorizontally 2s infinite;
}

#motto-container .motto-inner-container p.motto {
  margin: 25px 0 0;
  font-family: monospace;
}

@media (max-width: 767px) {
  #motto-container .motto-inner-container img {
    -webkit-animation: mottoArrowVertically 2s infinite;
    animation: mottoArrowVertically 2s infinite;
  }

  #motto-container .motto-inner-container p.motto {
    margin: 40px 0 0;
    font-family: monospace;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  #motto-container .motto-inner-container p.motto-desc {
    text-align: right;
  }
}

@media (min-width: 992px) {
  #offer .offer-img {
    max-width: 230px;
  }
}

/******** CONTACT ********/

.social-panel, .form-panel, form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social-panel p {
  font-size: 24px;
  margin-bottom: 30px;
}

.social-panel a {
  position: relative;
  text-decoration: none;
  color: #EFE7D1;
  cursor: pointer;
  height: 64px;
  margin-bottom: 20px;
  line-height: 64px;
  font-size: 24px;
}

.social-panel a img {
  height: inherit;
  position: relative;
  top: -3px;
  padding: 0 15px;
}

#formHeading {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.form-panel input, .form-panel textarea {
  border: none;
  border-bottom: 3px solid #EFE7D1;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  color: #EFE7D1;
  font-size: 24px;
  padding: 5px 0;
  margin-bottom: 20px;
  transition: 1s;
}

.form-panel #message-subject {
  margin-bottom: 40px;
}

.form-panel textarea {
  border: 3px solid #EFE7D1;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.form-panel input:focus, .form-panel textarea:focus {
  border-color: #5E5B68;
  transition: 1s;
}

::-webkit-input-placeholder {
  color: #EFE7D1;
  opacity: 1;
}
::-moz-placeholder {
  color: #EFE7D1;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #EFE7D1;
  opacity: 1;
}
:-moz-placeholder {
  color: #EFE7D1;
  opacity: 1;
}

.form-panel input:focus::-webkit-input-placeholder {
  text-indent: 700px;
  opacity: 0;
  transition: all 0.7s;
}
.form-panel input:focus::-moz-input-placeholder {
  text-indent: 700px;
  opacity: 0;
  transition: all 0.7s;
}
.form-panel input:focus:-ms-input-placeholder {
  text-indent: 700px;
  opacity: 0;
  transition: all 0.7s;
}
.form-panel input:focus:-moz-input-placeholder {
  text-indent: 700px;
  opacity: 0;
  transition: all 0.7s;
}

@media (max-width: 767px) {
  input::-webkit-input-placeholder {
    text-align: center;
  }
  input::-moz-placeholder {
    text-align: center;
  }
  input:-ms-input-placeholder {
    text-align: center;
  }
  input:-moz-placeholder {
    text-align: center;
  }

  .form-panel input:focus::-webkit-input-placeholder {
    text-indent: 0;
    vertical-align: -50px;
    transition: all 7s;
  }
  .form-panel input:focus::-moz-input-placeholder {
    text-indent: 0;
    vertical-align: -50px;
    transition: all 7s;
  }
  .form-panel input:focus:-ms-input-placeholder {
    text-indent: 0;
    vertical-align: -50px;
    transition: all 7s;
  }
  .form-panel input:focus:-moz-input-placeholder {
    text-indent: 0;
    vertical-align: -50px;
    transition: all 7s;
  }
}

.form-panel textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: all 0.7s;
}
.form-panel textarea:focus::-moz-input-placeholder {
  opacity: 0;
  transition: all 0.7s;
}
.form-panel textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: all 0.7s;
}
.form-panel textarea:focus:-moz-input-placeholder {
  opacity: 0;
  transition: all 0.7s;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#submit-btn, #reset-btn {
  width: 45%;
  padding: 20px;
  font-size: 24px;
  border-radius: 10px;
  outline: none;
  border-color: black;
  border-style: solid;
  opacity: 0.7;
}

#submit-btn:hover, #submit-btn:focus, #reset-btn:hover, #reset-btn:focus {
  opacity: 1;
}

@media (max-width: 400px) {
  .social-panel p {
    font-size: 18px;
    text-align: justify;
  }

  .btn-container {
    flex-direction: column;
  }

  #submit-btn, #reset-btn {
    width: 100%;
    padding: 10px;
  }

  #submit-btn {
    margin-bottom: 10px;
  }
}



